<!DOCTYPE html>
<html lang="en">
<head>
    <title>Aplikasi Prediksi dan Rekomendasi Nilai Mahasiswa</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
    .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
    .fa-anchor,.fa-coffee {font-size:200px}

    table {
    margin: auto;
    text-align: center;
    justify-content: center;
    border: 1px solid black;
    width: 50%;
    border-spacing: 30px;
    border-collapse:collapse;
    }
    th{
    border: 1px solid black;
    margin: auto;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: black;
    color: white;

    }
    td{
    border: 1px solid black;
    width: 20%;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    }
</style>

<body>
    <!-- Header -->
    <header class="w3-container w3-center" style="padding:30px 16px; background-image: url(untar.jpg); background-size: cover;">
        <img src="Logo.jpg"  width="250">
        <h1 class="w3-margin" style="color: black; font-weight: bolder;";">Daftar Mata Kuliah</h1>
    </header>

    <h1 style="justify-content: center; text-align: center;">Tabel Data Matakuliah Mahasiswa</h1>
        <div class="List">
            <table id="matkul">
                <tr>
                    <th>Kode MK</th>
                    <th>Mata Kuliah</th>
                </tr>
                
                <% for(var a=0; a<datalist.length;a++) { %>
                <tr>
                    <td><%= datalist[a].Kode %></td>
                    <td><%= datalist[a].MataKuliahDiambil %></td>
                </tr>
                <% } %>
            </table>
        </div>

        <!-- Footer -->
        <footer class="w3-container w3-padding-64 w3-center w3-opacity">  

            <p>Created by Filbert</p>
            <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
        </footer>
    </body>
</html>