<!DOCTYPE html>
<html lang="en">
<head>
    <title>Aplikasi Prediksi dan Rekomendasi Nilai Mahasiswa</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
    .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
    .fa-anchor,.fa-coffee {font-size:200px}

    table {
      margin: auto;
      text-align: center;
      justify-content: center;
      border: 1px solid black;
      width: 90%;
      border-spacing: 30px;
      border-collapse:collapse;
    }
    th{
      width: 10%;
      border: 1px solid black;
      margin: auto;
      text-align: center;
      justify-content: center;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
      padding-right: 20px;
      background: black;
      color: white;
    }
    td{
      border: 1px solid black;
      width: 10%;
      justify-content: center;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
    }
</style>

<body>
  <!-- Header -->
  <header class="w3-container w3-center" style="padding:30px 16px; background-image: url(untar.jpg); background-size: cover;">
    <img src="Logo.jpg"  width="250">
    <h1 class="w3-margin" style="color: black; font-weight: bolder;";">Daftar Nilai Mahasiswa</h1>
  </header>

  <button><a href="IndexMhs">Kembali</a></button>
    <div class="List" style="padding-top: 50px;">
      <table>
        <tr>
          <th>Nama</th>
          <th>NIM</th>
          <th>Algoritma I</th>
          <th>PBO </th>
          <th>Kalkulus I</th>
          <th>Citra</th>
          <th>Statistik</th>
          <th>Data Mining</th>
          <th>Game Development</th>
          <th>Machine Learning</th>
          <th>Mobile Development</th>
          <th>Aljabar Linier</th>
          <th>Hasil</th>
        </tr>
        
        <% for(var a=0; a<datalist.length;a++) { %>
        <tr>
          <td><%= datalist[a].name %></td>
          <td><%= datalist[a].nim %></td>
          <% for(var b=0; b < datalist[a].matkul.length; b++) { %>
            <td><%= datalist[a].matkul[b].nilai %></td>
          <% } %>
          <td><%= datalist[a].rekomendasi%></td>
        </tr>
        <% } %>
      </table>
      </div>

      <!-- Footer -->
  <footer class="w3-container w3-padding-64 w3-center w3-opacity">  

    <p>Created by Filbert</p>
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </footer>
</body>
</html>