<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <title>Hasil Rekomendasi</title>
</head>

<style>
 
    .navbar{
      display: flex;
      height: 80px;
      text-align: center;
      justify-content: center;
    }
    .logo-image{
      position: absolute;
      left: 0px;
      width: 46px;
      height: 46px;
    }
    .title{
      position: absolute;
      top:10px;
      width: 500px;
      font-size: 20px;
    } 

    .dropbtn {
        background-color: #04AA6D;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropbtn:hover, .dropbtn:focus {
        background-color: #3e8e41;
    }

    .dropdown {
        float: right;
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        right: 0;
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown a:hover {background-color: #ddd;}

    .show {display: block;}

    table {
        margin: auto;
        text-align: center;
        justify-content: center;
        border: 1px solid black;
        width: 60%;
        border-spacing: 30px;
        border-collapse:collapse;
        }
        th{
        border: 1px solid black;
        margin: auto;
        text-align: center;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        background: black;
        color: white;
    
        }
        td{
        border: 1px solid black;
        width: 20%;
        justify-content: center;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        }
</style>


<body>
    
    <!-- Header -->
    <header class="w3-container w3-center" style="padding:10px 16px; background-image: url(untar.jpg); background-size: cover; display: flex;">
        <img src="Logo.jpg"  width="250">
        <h1 class="w3-margin" style="color: white; font-weight: bolder; margin: auto;";">Aplikasi Prediksi Nilai dan Rekomendasi Mata Kuliah Universitas Tarumanagara</h1>
    </header>

    <div style="justify-content: center; text-align: center;">
        <h1>Hasil Rekomendasi Nilai</h1>
        <br>
    </div>


    <p align="right" style="padding-right: 20px;">
        <button onclick="window.print()">Print</button>
    </p>
    <table id="" style="">
        <tr>
            <th>Nilai Rata-rata</th>
            <th>Hasil Nilai</th>
            <th>Rekomendasi ?</th>
            <th>Matakuliah Rekomendasi</th>
        </tr>
        
        <tr>
            
            <td id="meannilai"></td>
            <td id= "hasil" ></td>
            <td id="rekomendasi"></td>
            <td id="rek"> </td>
        </tr>

    </table>

    <br><br>
    <center>
        <button style="margin: auto; justify-content: center;"><a href="IndexMhs">Kembali</a></button>
    </center>
    
   
    <span id="mhs" hidden><%= JSON.stringify(datalist) %></span>
    <span id="unamemhs" hidden><%= JSON.stringify(currentUser.username) %></span>
    <h1><%= currentUser.username %></h1>
    
    
    <script>
    

        var a = [
            {
                name: 'MhsA',
                Nama: ['ALGORITMA', 'PBO', 'K1', 'CITRA', 'STATISTIK', 'DATA M.', 'GD', 'ML', 'MD', 'ALJABR L.'],
                Nilai: [65, 80, 60, 65, 100, 75, 62, 42, 100, 87]
            }, 
            {
                name: 'MhsB',
                Nama: ['ALGORITMA', 'PBO', 'K1', 'CITRA', 'STATISTIK', 'DATA M.', 'GD', 'ML', 'MD', 'ALJABR L.'],
                Nilai: [41, 45, 65, 42, 45, 41, 52, 33, 35, 37]
            },
            {
                name: 'MhsC',
                Nama: ['ALGORITMA', 'PBO', 'K1', 'CITRA', 'STATISTIK', 'DATA M.', 'GD', 'ML', 'MD', 'ALJABR L.'],
                Nilai: [95, 99, 42, 86, 62, 85, 43, 85, 95, 82]
            },
            {
                name: 'MhsD',
                Nama: ['ALGORITMA', 'PBO', 'K1', 'CITRA', 'STATISTIK', 'DATA M.', 'GD', 'ML', 'MD', 'ALJABR L.'],
                Nilai: [49, 55, 75, 0, 82, 65, 79, 46, 41, 55]
            },
            {
                name: 'MhsE',
                Nama: ['ALGORITMA', 'PBO', 'K1', 'CITRA', 'STATISTIK', 'DATA M.', 'GD', 'ML', 'MD', 'ALJABR L.'],
                Nilai: [63, 52, 57, 85, 54, 77, 64, 60, 56, 52]
            },
            {
                name: 'MhsF',
                Nama: ['ALGORITMA', 'PBO', 'K1', 'CITRA', 'STATISTIK', 'DATA M.', 'GD', 'ML', 'MD', 'ALJABR L.'],
                Nilai: [45, 48, 60, 48, 43, 43, 85, 99, 37, 34]
            },
            {
                name: 'MhsG',
                Nama: ['ALGORITMA', 'PBO', 'K1', 'CITRA', 'STATISTIK', 'DATA M.', 'GD', 'ML', 'MD', 'ALJABR L.'],
                Nilai: [88, 65, 25, 75, 41, 65, 21, 88, 84, 45]
            },
            {
                name: 'MhsH',
                Nama: ['ALGORITMA', 'PBO', 'K1', 'CITRA', 'STATISTIK', 'DATA M.', 'GD', 'ML', 'MD', 'ALJABR L.'],
                Nilai: [84, 81, 62, 81, 79, 87, 56, 76, 36, 39]
            },
            {
                name: 'MhsI',
                Nama: ['ALGORITMA', 'PBO', 'K1', 'CITRA', 'STATISTIK', 'DATA M.', 'GD', 'ML', 'MD', 'ALJABR L.'],
                Nilai: [42, 48, 81, 40, 55, 20, 81, 42, 40, 47]
            },
            {
                name: 'MhsJ',
                Nama: ['ALGORITMA', 'PBO', 'K1', 'CITRA', 'STATISTIK', 'DATA M.', 'GD', 'ML', 'MD', 'ALJABR L.'],
                Nilai: [45, 84, 70, 15, 88, 55, 80, 15, 67, 100]
            },
            {
                name: 'MhsK',
                Nama: ['ALGORITMA', 'PBO', 'K1', 'CITRA', 'STATISTIK', 'DATA M.', 'GD', 'ML', 'MD', 'ALJABR L.'],
                Nilai: [58, 100, 69, 75, 71, 61, 96, 59, 66, 82]
            },
            {
                name: 'MhsL',
                Nama: ['ALGORITMA', 'PBO', 'K1', 'CITRA', 'STATISTIK', 'DATA M.', 'GD', 'ML', 'MD', 'ALJABR L.'],
                Nilai: [30, 55, 59, 49, 96, 59, 58, 42, 40, 59]
            },
            {
                name: 'MhsM',
                Nama: ['ALGORITMA', 'PBO', 'K1', 'CITRA', 'STATISTIK', 'DATA M.', 'GD', 'ML', 'MD', 'ALJABR L.'],
                Nilai: [63, 86, 84, 61, 13, 88, 87, 57, 52, 43]
            },
            {
                name: 'MhsN',
                Nama: ['ALGORITMA', 'PBO', 'K1', 'CITRA', 'STATISTIK', 'DATA M.', 'GD', 'ML', 'MD', 'ALJABR L.'],
                Nilai: [33, 66, 54, 45, 94, 67, 37, 35, 48, 62]
            },
            {
                name: 'MhsO',
                Nama: ['ALGORITMA', 'PBO', 'K1', 'CITRA', 'STATISTIK', 'DATA M.', 'GD', 'ML', 'MD', 'ALJABR L.'],
                Nilai: [66, 98, 87, 66, 54, 53, 81, 80, 25, 89]
            },
            {
                name: 'MhsP',
                Nama: ['ALGORITMA', 'PBO', 'K1', 'CITRA', 'STATISTIK', 'DATA M.', 'GD', 'ML', 'MD', 'ALJABR L.'],
                Nilai: [56, 54, 39, 58, 99, 64, 34, 26, 58, 55]
            },
            {
                name: 'MhsQ',
                Nama: ['ALGORITMA', 'PBO', 'K1', 'CITRA', 'STATISTIK', 'DATA M.', 'GD', 'ML', 'MD', 'ALJABR L.'],
                Nilai: [93, 68, 71, 87, 47, 52, 59, 82, 88, 59]
            },
            {
                name: 'MhsR',
                Nama: ['ALGORITMA', 'PBO', 'K1', 'CITRA', 'STATISTIK', 'DATA M.', 'GD', 'ML', 'MD', 'ALJABR L.'],
                Nilai: [47, 60, 87, 28, 94, 72, 81, 43, 45, 60]
            },
            {
                name: 'MhsS',
                Nama: ['ALGORITMA', 'PBO', 'K1', 'CITRA', 'STATISTIK', 'DATA M.', 'GD', 'ML', 'MD', 'ALJABR L.'],
                Nilai: [43, 41, 66, 44, 62, 35, 53, 38, 39, 44]
            },
            {
                name: 'MhsT',
                Nama: ['ALGORITMA', 'PBO', 'K1', 'CITRA', 'STATISTIK', 'DATA M.', 'GD', 'ML', 'MD', 'ALJABR L.'],
                Nilai: [82, 84, 81, 88, 77, 99, 97, 93, 86, 83]
            },
            {
                name: 'MhsU',
                Nama: ['ALGORITMA', 'PBO', 'K1', 'CITRA', 'STATISTIK', 'DATA M.', 'GD', 'ML', 'MD', 'ALJABR L.'],
                Nilai: [80, 52, 73, 50, 79, 70, 66, 70, 70, 70]
            },
            {
                name: 'MhsV',
                Nama: ['ALGORITMA', 'PBO', 'K1', 'CITRA', 'STATISTIK', 'DATA M.', 'GD', 'ML', 'MD', 'ALJABR L.'],
                Nilai: [42, 89, 85, 77, 74, 75, 58, 67, 73, 91]
            },
            {
                name: 'MhsW',
                Nama: ['ALGORITMA', 'PBO', 'K1', 'CITRA', 'STATISTIK', 'DATA M.', 'GD', 'ML', 'MD', 'ALJABR L.'],
                Nilai: [72, 84, 58, 83, 72, 78, 76, 78, 80, 75]
            },
            {
                name: 'MhsX',
                Nama: ['ALGORITMA', 'PBO', 'K1', 'CITRA', 'STATISTIK', 'DATA M.', 'GD', 'ML', 'MD', 'ALJABR L.'],
                Nilai: [73, 88, 78, 0, 88, 73, 86, 72, 73, 91]
            },
            {
                name: 'MhsY',
                Nama: ['ALGORITMA', 'PBO', 'K1', 'CITRA', 'STATISTIK', 'DATA M.', 'GD', 'ML', 'MD', 'ALJABR L.'],
                Nilai: [66, 45, 85, 83, 79, 0, 65, 78, 72, 56]
            },
            {
                name: 'MhsZ',
                Nama: ['ALGORITMA', 'PBO', 'K1', 'CITRA', 'STATISTIK', 'DATA M.', 'GD', 'ML', 'MD', 'ALJABR L.'],
                Nilai: [0, 55, 80, 81, 79, 70, 84, 80, 81, 92]
            },
        ]


        var meanMK1     = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];
        var total       = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];

        for (var c = 0; c < a.length; c++){
            for (var b = 0; b < a[c].Nilai.length; b++){
            total[c] +=  a[c].Nilai[b]
            }
        }
      
        for(var x = 0; x < total.length; x++ ){
            for( var z = 0; z < a[x].Nilai.length; z++){
                meanMK1[x] = total[x] / a[x].Nilai.length;
            }
        }

        console.log(meanMK1)
        window.localStorage.setItem("meannilai", JSON.stringify(meanMK1));
        
        // Nampilin Hasil dan Matakuliah Rekomendasi
        var hasilnilai = [];
        var matkulrek = [];
        for(e = 0; e < 26 ; e++){
            if(rekomendasi[e] = true){
                if(meanMK1[e] > 80 && meanMK1[e] <= 100){
                    hasilnilai[e] = "S Baik";
                    matkulrek[e] = "Algoritma II"
                }
                else if(meanMK1[e] > 70 && meanMK1[e] <= 79){
                    hasilnilai[e] = "Baik";
                    matkulrek[e] = "PBO II"
                }
                else if(meanMK1[e] > 56 && meanMK1[e] <= 69){
                    hasilnilai[e]= "Cukup";
                    matkulrek[e] = "Kalkulus Lanjut"
                }
                else if(meanMK1[e] > 45 && meanMK1[e] <= 55){
                    hasilnilai[e]= "Kurang";
                    matkulrek[e] = "Game Design"
                }
                else{
                    hasilnilai[e]= "S Kurang";
                    matkulrek[e] = "--"
                }
            }
            else if (rekomendasi[e] = false){
                hasilnilai[e]= "S Kurang";
                matkulrek[e] = "--"
            }
            if(hasilnilai[e]==null){
                hasilnilai[e] = "S.Kurang"
                
            }
            if(matkulrek[e]==null){
                matkulrek[e] = "--"    

            }
            
        }
        
        window.localStorage.setItem("hasilmhs", JSON.stringify(hasilnilai));
        // console.log(hasilnilai)
        window.localStorage.setItem("rek", JSON.stringify(matkulrek));
        // console.log(matkulrek)
    
    var mhs = JSON.parse($('#mhs').text());
    $('#mhs').remove();
    // console.log(uname)

    var unamemhs = JSON.parse($('#unamemhs').text());
    $('#unamemhs').remove();
    console.log(unamemhs)

    //    Nampilin Nama Sesuai yang dipilih
    var muncul = window.localStorage.getItem("pilihan");
    // console.log(muncul)
    
    // Nampilin Nilai Rata
    var nilairatamhs = window.localStorage.getItem("meannilai");
    nilairatamhs = (nilairatamhs) ? JSON.parse(nilairatamhs) : [];
    var hasilnilai = window.localStorage.getItem("hasilmhs");
    hasilnilai = (hasilnilai) ? JSON.parse(hasilnilai) : [];
    var rekmatkul = window.localStorage.getItem("rek");
    rekmatkul = (rekmatkul) ? JSON.parse(rekmatkul) : [];
    
    console.log(nilairatamhs)
    
    for(var a = 0; a < mhs.length; a++){
        if(mhs[a].name == unamemhs){
            
            document.getElementById("rekomendasi").innerHTML = mhs[a].rekomendasi;
            // console.log(mhs[a].name)
            document.getElementById("meannilai").innerHTML = nilairatamhs[a];
            document.getElementById("hasil").innerHTML = hasilnilai[a];
            document.getElementById("rek").innerHTML = rekmatkul[a];
        }

        
    }
    console.log(hasilnilai)
        console.log(rekmatkul)

        
    </script>
    
</body>