<!DOCTYPE html>
<html lang="en">
<head>
<title>Aplikasi Prediksi dan Rekomendasi Nilai Mahasiswa</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
    .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
</style>
</head>
<body>
    <!-- Header -->
    <header class="w3-container w3-center" style="background-image: url(untar.jpg); background-size: cover; padding:100px 16px">
        <img src="Logo.jpg"  width="250">
        <h1 class="w3-margin" style="color: white; font-weight: bold;">Login Sebagai</h1>
    </header>

    <div class="w3-container w3-center", style="padding: 100px 20px">
        <button class="w3-button w3-black w3-padding-large  w3-margin-top" style="width: 20%;"><a href="LogMhs">Mahasiswa</a></button>
        <br><br>
        <!-- <button class="w3-button w3-black w3-padding-large  w3-margin-top" style="width: 20%;"><a href="LogAdm">Admin</a></button>
        <br><br> -->
        <button class="w3-button w3-black w3-padding-large  w3-margin-top" style="width: 20%;"><a href="Home">Kembali</a></button>
        <br><br>
    </div>
    </body>