<!DOCTYPE html>
<html lang="en">
<head>
  <title>Aplikasi Prediksi dan Rekomendasi Nilai Mahasiswa</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<style>
  .splash{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 200;
    color: white;
    text-align: center;
    line-height: 90vh;
    }

    .splash.display-none{
        position: fixed;
        opacity: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: black;
        z-index: -10;
        color: white;
        text-align: center;
        line-height: 90vh;
        transition: all 0.5s;
    }

    @keyframes fadeIn {
      to{
        opacity: 1;
      }
    }

    .fade-in{
      opacity: 0;
      animation: fadeIn 1s ease-in forwards;
    }

  body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
  .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
  .fa-anchor,.fa-coffee {font-size:200px}
</style>

<body>

  <div class="splash"><h1 class="fade-in">Selamat Datang</h1></div>
  <!-- Navbar -->
  <!-- <div class="w3-top">
    <div class="w3-bar w3-red w3-card w3-left-align w3-large">
      <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
      <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
      <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Link 1</a>
    </div> -->

    <!-- Navbar on small screens -->
    <!-- <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
      <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
      
    </div>
  </div> -->

  <!-- Header -->
  <header class="w3-container w3-center" style="padding:30px 16px; background-image: url(untar.jpg); background-size: cover;">
        <img src="Logo.jpg"  width="250">
        <h1 class="w3-margin" style="color: white; font-weight: bolder;";">Aplikasi Prediksi Nilai dan Rekomendasi Mata Kuliah Universitas Tarumanagara</h1>
    <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top"><a href="Choose">Get Started</a></button>
  </header>

  <!-- First Grid -->
  <div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
      <div class="w3-twothird">
        <h1>Q : "Apa nama Aplikasi Ini?"</h1>
        <h5 class="w3-padding-32">Aplikasi ini disebut dengan aplikasi prediksi nilai dan rekomendasi matakuliah.</h5>

        <p class="w3-text-grey">Aplikasi ini merupakan tugas akhir matakuliah Teknik Informatika.</p>
      </div>

      <div class="w3-third w3-center">
        <img src="Logo.jpg"  width="400">
      </div>
    </div>
  </div>

  <!-- Second Grid -->
  <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
    <div class="w3-content">
      <div class="w3-third w3-center">
        <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
      </div>

      <div class="w3-twothird">
        <h1>Q: "Bagaimana Cara Kerja Program Ini?"</h1>
        <h5 class="w3-padding-32">Aplikasi ini akan menampilkan hasil rekomendasi matakuliah berdasarkan nilai mahasiswa.</h5>

        <p class="w3-text-grey">Cara kerja aplikasi ini dengan memilih nama mahasiswa kemudian akan menampilkan nilai serta hasil rekomendasi dan jenis matakuliah rekomendasi.</p>
      </div>
    </div>
  </div>

  <div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
      <h1 class="w3-margin w3-xlarge">Quote of the day:</h1>
      <h3 class="w3-margin w3-text-grey">Tetap Semangat, Pantang pulang sebelum Jadi.</h3>
  </div>

  <!-- Footer -->
  <footer class="w3-container w3-padding-64 w3-center w3-opacity">  

  <p>Created by Filbert</p>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
  </footer>

<script>
  // Used to toggle the menu on small screens when clicking on the menu button
  function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
      x.className += " w3-show";
    } else { 
      x.className = x.className.replace(" w3-show", "");
    }
  }

  const splash = document.querySelector('.splash');

  document.addEventListener('DOMContentLoaded', (e)=>{
      setTimeout(()=>{
          splash.classList.add('display-none');
      }, 2000);
  })

  let mainNav = document.getElementById('main-nav');
      let toggleNav = document.getElementById('toggle-nav');
      toggleNav.addEventListener('click', function () {
          mainNav.classList.toggle('active')
  });
</script>

</body>
</html>
