<!DOCTYPE html>
<html lang="en">
<head>
    <title>Aplikasi Prediksi dan Rekomendasi Nilai Mahasiswa</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
    .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
    .fa-anchor,.fa-coffee {font-size:200px}

    .chsbutton {
        width: 40%;
        background-color: #04AA6D;
        border: none;
        border-radius: 10px;
        color: white;
        font-weight: bold;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 10px 0px;
        cursor: pointer;
    }
</style>

<body>

<!-- Header -->
<header class="w3-container w3-center" style="padding:30px 16px; background-image: url(untar.jpg); background-size: cover;">
      <img src="Logo.jpg"  width="250">
      <h1 class="w3-margin" style="color: black; font-weight: bolder;";">Aplikasi Prediksi Nilai dan Rekomendasi Mata Kuliah Universitas Tarumanagara</h1>
</header>

<div class="choice-center">
    <center>
        <br><br>
        <div class="text-center">
            <button class="chsbutton"><a href="DNilaiAdm">Daftar Nilai</a></button>
        </div>
        <br>
        <div class="text-center">
            <button class="chsbutton"><a href="DMatkulAdm">Daftar Matakuliah</a></button>
        </div>
        <br>
        <div class="text-center">
            <button class="chsbutton"><a href="Kriteria">Tabel Kriteria</a></button>
        </div>
        <br>
        <div class="text-center">
            <button class="chsbutton"><a href="DRek">Daftar Rekomendasi MataKuliah</a></button>
        </div>
        <br>
        <div class="text-center">
            <button class="chsbutton"><a href="Hasil">Algoritma</a></button>
        </div>
        <br>
        <div class="text-center">
            <button class="chsbutton"><a href="Home">Keluar</a></button>
        </div>
    </center>
  </div>

  
</body>
</html>