<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
    />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>Login Admin</title>
  </head>

  <style>
    body,
    html {
      height: 100%;
      background-repeat: no-repeat; /*background-image: linear-gradient(rgb(12, 97, 33),rgb(104, 145, 162));*/
      background: black;
      position: relative;
    }
    #login-box {
      position: absolute;
      top: 200px;
      left: 50%;
      transform: translateX(-50%);
      min-width: 500px;
      height: 55%;
      margin: 0 auto;
      border: 1px solid black;
      background: rgba(48, 46, 45, 1);

      border-radius: 20px;
      padding: 20px;
      z-index: 9999;
    }
    #login-box .logo .logo-caption {
      text-align: center;
    }
    #login-box .logo .tweak {
      color: green;
    }
    #login-box .controls {
      padding-top: 10px;
    }
    #login-box .controls input {
      margin: auto;
      width: 70%;
      border-radius: 20px;
      background: rgb(98, 96, 96);
      border: 0px;
      color: white;
    }
    #login-box .controls input:focus {
      box-shadow: none;
    }
    #login-box .controls input:first-child {
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
    }
    #login-box .controls input:last-child {
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
    }
    #login-box button.btn-custom {
      width: 25%;
      margin: auto;
      justify-content: center;
      border-radius: 50px;
      margin-top: 15px;
      background: green;
      border-color: rgba(48, 46, 45, 1);
      color: white;
    }
    #login-box button.btn-custom:hover {
      -webkit-transition: all 500ms ease;
      -moz-transition: all 500ms ease;
      -ms-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      transition: all 500ms ease;
      background: rgba(48, 46, 45, 1);
      border-color: green;
    }
    #particles-js {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: 50% 50%;
      position: fixed;
      top: 0px;
      z-index: 1;
    }
  </style>

  <body>
    <form action="/LogAdm" method="post">
      <div class="container">
        <div id="login-box">
          <div><a href="Choose">Kembali</a></div>
          <div class="logo">
            <img
              src="Logo.jpg"
              width="300"
              class="img img-responsive img-circle center-block"
            />
            <h1 class="logo-caption" style="color: white">Login</h1>
          </div>
          <div>
            <button onclick="window.location='/RegAdm'">Register</button>
          </div>
          <div class="controls">
            <label for="username"><b>Username</b></label>
            <input
              id="username"
              type="text"
              name="username"
              placeholder="Username"
              class="form-control"
              required
            />
            <label for="password"><b>Password</b></label>
            <input
              id="password"
              type="password"
              name="password"
              placeholder="Enter Password"
              class="form-control"
              required
            />
            <button type="submit" class="btn btn-default btn-block btn-custom">
              <a href="IndexAdm"></a> Login
            </button>
          </div>
        </div>
      </div>
      <div id="particles-js"></div>
    </form>

    <script src="admin-login-script.js"></script>
  </body>
</html>
